
@model DVDManagement.ViewModel.Register
@{
    ViewBag.Title = "Register";
    Layout = "_IndexLayout";
}

<div class="main">

    <div class="main">
          <!-- Sign up form -->
          <section class="signup">
            <div class="container">
              <div class="signup-content">
                <div class="signup-form">
                  <h2 class="form-title">Sign up</h2>
                  <form method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                      <label for="name"
                        ><i class="zmdi zmdi-account material-icons-name"></i
                      ></label>
                      <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Your Name"
                        
                      />
                    </div>
                    <div class="form-group">
                      <label for="email"><i class="zmdi zmdi-email"></i></label>
                      <input
                        type="email"
                        name="Email"
                        id="email"
                        placeholder="Your Email"
                        asp-for="Email"
                      />
                    </div>
                    <div class="form-group">
                      <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                      <input
                        type="password"
                        name="Password"
                        id="pass"
                        placeholder="Password"
                        asp-for="Password"
                      />
                    </div>
                    <div class="form-group">
                      <label for="re-pass"
                        ><i class="zmdi zmdi-lock-outline"></i
                      ></label>
                      <input
                        type="password"
                        name="ConfirmPassword"
                        id="re_pass"
                        placeholder="Repeat your password"
                        asp-for="ConfirmPassword"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="checkbox"
                        name="agree-term"
                        id="agree-term"
                        class="agree-term"
                      />
                      <label for="agree-term" class="label-agree-term"
                        ><span><span></span></span>Remember Me
                        </label
                      >
                    </div>
                    <div class="form-group form-button">
                      <input
                        type="submit"
                        name="signup"
                        id="signup"
                        class="form-submit"
                        value="Register"
                        
                      />
                    </div>
                  </form>
                </div>
                <div class="signup-image">
                  <figure>
                    <img src="../../image/signup-image.jpg" alt="sing up image" />
                  </figure>
                  <a asp-area="" asp-controller="Home" class="signup-image-link"
                    >I am already member</a>
                </div>
              </div>
            </div>
          </section>
    
          <!-- Sing in  Form -->
        </div>

</div>