@{
    ViewData["Title"] = "LoanedDVDList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details of DVD currently on loan</h1>
<table class="table mt-4">
    <thead class="bg-custom">
    <tr>
        <th>Copy Number</th>
        <th>Membership FirstName</th>
        <th>Date Due</th>
        <th>Date Returned</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.loanDetails)
    {
        <tr style="text-align:center">
            <td style="width:160px">@item.loan.CopyNumber </td>
            <td style="width:200px">@item.member.MembershipFirstName </td>
            <td style="width:160px">@item.loan.DateDue </td>
            <td style="width:160px; color:red">Not Returned </td>
            <td>

                <a href="@Url.Action("EditDVDCopyDetails","DVD",new { item.loan.CopyNumber} )" class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Update">Update Loan Records</a>
            </td>
        </tr>
    }
    </tbody>
</table>