@{
    ViewData["Title"] = "View";
    
}

<h1>View</h1>

<table class="table">
    <thead>
    <tr>
       <th>Copy Number</th>
                   <th>Date Returned</th>
                   <th>Date Purchased</th>
                   <th>Delete</th>
    </tr>
    </thead>
   <tbody>
           @foreach (var item in ViewBag.dvdList)
           {
               <tr>
                   <td>@item.dvdCopy.CopyNumber</td>
                   <td>@item.loan.DateReturned</td>
                   <td>@item.dvdCopy.DatePurchased</td>
                   <td>
                       <ul class="list-inline m-0">
                           <li class="list-inline-item">
                               <a href="@Url.Action("DeleteCopy","DVD",new { item.dvdCopy.CopyNumber} )" class="btn btn-danger" type="button" data-toggle="tooltip" data-placement="top" title="Delete">Delete</a>
                           </li>
                       </ul>
                   </td>
               </tr>
           }
       </tbody>
</table>