@{
    ViewData["Title"] = "GetDVDofNoLoan";
    Layout = "_Layout";
}

<h1>GetDVDofNoLoan</h1>

<table class="table mt-3">
    <thead class="bg-custom">
    <tr>
        <th>DVD Title Name</th>
    </tr>
    </thead>
    <tbody>
    @if (ViewBag.dvd == null)
            {
                <tr>
                    <td colspan="3" style="color:red">
                        No Match Found
                    </td>
                </tr>
            }
    @foreach (var item in ViewBag.dvd)
    {
                        <tr>
                            <td>@item.dvdTitle.DVDTitle</td>
                            <td>@item.dvdTitle.DVDReleased</td>
                            
                        </tr>
                    }
    </tbody>
</table>