<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RopeyDVD </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DVDManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
<header class="site-navbar site-navbar-target bg-white" role="banner" style="z-index: 0; position: sticky">
    <div class="container">
          <div class="row align-items-center position-relative">
              <div class="col-lg-4">
              <nav class="site-navigation text-right ml-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li class="active"><a asp-area="" asp-controller="HomePage" asp-action="Index" class="nav-link">Home</a></li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                DVD
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" asp-controller="DVD" asp-action="CopyNumberSearch">Copy Number Search</a></li>
                                <li><a class="dropdown-item" asp-controller="DVD" asp-action="LoanedDvdList">Loaned DVD List</a></li>
                                <li><a class="dropdown-item" asp-controller="DVD" asp-action="NotLoanedDvdCopyList">Not Loaned DVD Copy</a></li>
                                <li><a class="dropdown-item" asp-controller="DVD" asp-action="OldDvdCopyList">Old DVD Copy List</a></li>
                                <li><a class="dropdown-item" asp-controller="DVD" asp-action="ProducerList">Producer List</a></li>
                                <li><a class="dropdown-item" asp-controller="DVD" asp-action="SearchActor">Search Actor</a></li>
                                <li><a class="dropdown-item" asp-controller="DVD" asp-action="SearchCastMember">Search Actor Member</a></li>
                            </ul>
                        </div>
                    </li>
                  <li><a asp-area="" asp-controller="UserRoleManagement" asp-action="Index" class="nav-link">User Role</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-4 text-center">
              <div class="site-logo">
                <a class="navbar-brand " asp-area="" asp-controller="HomePage" asp-action="Index">Ropey DVD</a>
              </div>
                <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3 text-black"></span></a></div>
            </div>
            <div class="col-lg-4">
              <nav class="site-navigation text-left mr-auto " role="navigation">
                  <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                      <li><div class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                              Assistance
                            </a>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" asp-controller="Assistance" asp-action="AddDVDCopy">Add DVD Copy Copy</a></li>
                              <li><a class="dropdown-item" asp-controller="Assistance" asp-action="CreateDVDTitle">Create DVD Title</a></li>
                                <li><a class="dropdown-item" asp-controller="Assistance" asp-action="GetDVDofNoLoan">Get DVD Of No Loan</a></li>
                                <li><a class="dropdown-item" asp-controller="Assistance" asp-action="ProducerDvdList">Producer DVD List</a></li>
                                <li><a class="dropdown-item" asp-controller="Assistance" asp-action="ResetPassword">Reset Password</a></li>
                            </ul>
                          </div></li>
                      <li><div class="dropdown">
                                                  <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Member
                                                  </a>
                                                  
                                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" asp-controller="MemberController" asp-action="MemberListNotBorrowed">Member not Loaned in 30 days</a></li>
                                                      <li><a class="dropdown-item" asp-controller="Assistance" asp-action="CreateDVDTitle">MmmberTotalLoans</a></li>
                                                      <li><a class="dropdown-item" asp-controller="Assistance" asp-action="CreateDVDTitle">No Loaned Members</a></li>
                                                  </ul>
                                                </div></li>
                      <button class="login-btn"><a asp-controller="Home" asp-action="Logout">Logout</a> </button>
                  </ul>
              </nav>
            </div>
          </div>
        </div>
</header>
    <div class="container" style="height: 100vh">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DVDManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
